:root {
    --logo-color: rgb(33, 150, 243);
    --logo-col:rgb(0, 0, 0);
    --main:rgb(47, 48, 58);
    --footer:rgb(255, 255, 255);
    --foot:rgba(255, 255, 255, 0.6);
    --button:rgb(245, 244, 250);
    }
    .header-name {
        font-family: "raleway";
        font-size: 25px;
    }
    .footer-name {
        font-family: "raleway";
        font-size: 25px;
    }
    body {
        font-family: "roboto";
        font-size: 14px;
        font-weight: 700;
        line-height: calc(24 / 14);
    }
    .container {
        width: 1200px;
        height: 281px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: 0 auto;
        margin-right: 0 auto;
        outline: 1px solid var(--dark-blue-color);
        background-color: var(--dark-blue-color);
    }